<div class="container">
<footer class="footer">
  <small>
    Picture Viewer |
    Powered by <%= link_to('http://www.worldmachine.ie/', target: '_blank') do %>World Machine Technology
    <% end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  </nav>
</footer>
</div>