<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'Viewer', root_path, id: 'logo', class: 'navbar-brand' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Instagram', '/auth/instagram' %></li>
      </ul>
    </nav>
  </div>
</header>
